<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/slick.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<style>

nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 66px;
  line-height: 56px;

}

nav .centim {
  margin-left: 25%;

}

.activelink{
  border-bottom: 5px solid #4da2d9;
  color: black;
}

   .navhov:hover{
 border-bottom: 5px solid #4da2d9;
 background: white;
 color: #4da2d9;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

   .logomenu{
    height: 100%;
    margin-left: 20px;
   }

.gateman{
  margin-right: 20px;
}

.aboutimage{
  width: 100%;
  height: 350px;
  z-index: -2;
  position: relative;
  top: -20px;
}

.aboutindex{
  width: 100%;
  height: auto;
  background-color: #8bbad5;
  padding: 15px;
}

.creative{
    font-size: 20px;
   font-weight: 300;
   line-height: 35px;
   color: #363637;
   text-align: justify;
   text-justify: inter-word;
}

input[type=email] {
  line-height: 12px;
  height: 40px;
  padding-left: 2rem;
  background-color: #fff;
  border-radius: 25px 25px 25px 25px;
   }
   input[type=email]:focus {
    background-color: #fff;
    border-radius: 25px 25px 25px 25px;
    box-shadow: none;
    color: #444; }
    .input-field input[type=email]:focus + label i, .input-field input[type=text]:focus ~ .mdi-navigation-close {
      color: #444; }
  .input-field input[type=email] + label {
    left: 1rem; }
  .input-field input[type=email] ~ .mdi-navigation-close {
    position: relative;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
   }

   input[type=text] {
  line-height: 12px;
  height: 40px;
  padding-left: 2rem;
  background-color: #fff;
  border-radius: 25px 25px 25px 25px;
 }
   input[type=text]:focus {
    background-color: #fff;
    border-radius: 25px 25px 25px 25px;
    box-shadow: none;
    color: #444; }
    .input-field input[type=text]:focus + label i, .input-field input[type=text]:focus ~ .mdi-navigation-close {
      color: #444; }
  .input-field input[type=text] + label {
    left: 1rem; }
  .input-field input[type=text] ~ .mdi-navigation-close {
    position: relative;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
   }

::-webkit-input-placeholder {
 font-size: 15px;
 color: #d0cdfa;
}

   .ymesag{
    height: 100px;
    padding: 20px;
     background-color: #fff;
  border-radius: 25px 25px 25px 25px;
  width: 331px;
   }

   .collection {
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  border: 1px solid #4da2d9;
}

.collection .collection-item {
  background-color: #4da2d9;
  line-height: 1.5rem;
  padding: 10px 20px;
  height: auto;
  margin: 7px;
  height: auto;
}


.collection .collection-item.avatar .activity{
  padding-top: 0px;
    font-size: 15px;
    font-weight: 600;
}


</style>

<body>

  <nav>
 
    <div class="nav-wrapper" style="background-color: white;">
<a href="/" class="brand-logo logomenu"><img src="logo.png" class="logomenu" ></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down gateman">
 <li><a href="/" style="color: #464647;" class="navhov">Home</a></li>
        <li><a href="/aboutus" style="color: #464647;" class="navhov">About Us</a></li>
        <li><a href="/admissions" style="color: #464647;" class="navhov activelink">Admissions</a></li>
        <li><a href="/academics" style="color: #464647;" class="navhov">Academics</a></li>
        <li><a href="/student" style="color: #464647;" class="navhov">Student</a></li>
        <li><a href="/accreditation" style="color: #464647;" class="navhov">Accreditation</a></li>
        <li><a href="/apply" style="color: #464647;" class="navhov">Apply</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <img src="adms.jpg" class="resposive-img aboutimage">
  </div>

  <div class="row">
    <div class="container">
      <div class="col l3">
        <div class="aboutindex">
          <h5 style="color: #fff;"> Admissions </h5>
          <ul>
          <li style="font-size: 14px; color: #fff; font-weight: 700; padding-bottom: 10px; border-bottom: 2px dotted #fff; margin-bottom: 5px; margin-top: 5px;"> Joining us at Purity</li>
          <li style="font-size: 14px; color: #fff; font-weight: 700; padding-bottom: 10px; border-bottom: 2px dotted #fff; margin-bottom: 5px; margin-top: 5px;">Application forms</li>
          <li style="font-size: 14px; color: #fff; font-weight: 700; padding-bottom: 10px; border-bottom: 2px dotted #fff; margin-bottom: 5px; margin-top: 5px;">Admission requirements</li>
          <li style="font-size: 14px; color: #fff; font-weight: 700; padding-bottom: 10px; border-bottom: 2px dotted #fff; margin-bottom: 5px; margin-top: 5px;">Fees and Schorlarships</li>
          <li style="font-size: 14px; color: #fff; font-weight: 700; padding-bottom: 10px; border-bottom: 2px dotted #fff; margin-bottom: 5px; margin-top: 5px;">Hostel Facilities</li>
          </ul>
        </div>
      </div>
      <div class="col l9">
        <h4 style="color: #42a2d9;">Joining us at Purity</h4>
        <p class="creative">
       Since the year 2000, we have received a lot of applications from all across Ghana and have successfully trained 100's to become result oriented and creative technicians and business people in their respective fields. Our applicants demonstrate a commitment to growth and learning, tackling tough challenges and a strong desire to contribute to Ghana's progress. Admission is open all year. For admissions, contact <strong>admissions@puritytech.edu.gh</strong> or call os on <strong>0244852432 / 0240417967</strong>.
        </p>
    <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active" style="font-weight: bolder; color: #42a2d9;">Application Form</div>
      <div class="collapsible-body"><p><a href="PTIAdmissionForm.pdf" target="_blank">Download Application form here</a></p></div>
    </li>
    <li>
      <div class="collapsible-header" style="font-weight: bolder; color: #42a2d9;">Admission Requirements</div>
      <div class="collapsible-body">
        <br>
      <span style="margin-left: 25px; font-size: 25px; font-weight:bolder;">Part I programme</span><br>
      <p>SSCE/WASSCE, NVT I & II Intermediate, Advanced Craft, GCC, General Engineering Examination, Electrical Installation Work, Telecommunication Technician and other equivalent certifications.</p>
      <span style="margin-left: 25px; font-size: 25px; font-weight:bolder;">Part II Programme</span><br>
      <p>Must have passes in Part I programmes with relation to the field of study.</p>
      <span style="margin-left: 25px; font-size: 25px; font-weight:bolder;">Part III Programme</span><br>
      <p>Must have passes in Part II programmes.</p>
      <span style="margin-left: 25px; font-size: 25px; font-weight:bolder;">Business Programme</span><br>
      <p>SSCE/WASSCE with passes in at least two core subjects.<br> General Business certificate and other equivalent certificates.</p> 
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="font-weight: bolder; color: #42a2d9;">Fees and Schorlarships</div>
      <div class="collapsible-body">
      <p>
        <strong>ELECTRICAL ENGINEERING TECHNICIAN</strong> - Eight Hundred and fifty Ghana Cedis <strong>[GH¢850.00]</strong>
        <br>
        <br>
        <strong>MOTOR VEHICLE TECHNICIAN</strong> - Nine Hundred Ghana Cedis <strong>[GH¢900.00]</strong>
         <br>
        <br>
        <strong>CONSTRUCTION TECHNICIAN</strong> - Nine Hundred Ghana Cedis <strong>[GH¢900.00]</strong>
         <br>
        <br>
        <strong>MECHANICAL ENGINEERING TECHNICIAN</strong> - Nine Hundred Ghana Cedis <strong>[GH¢900.00]</strong>
         <br>
        <br>
        <strong>DIPLOMA IN BUSINESS STUDIES</strong> - Nine Hundred and fifty Ghana Cedis <strong>[GH¢950.00]</strong>
         <br>
        <br>
        <strong>DIPLOMA IN INFORMATION TECHNOLOGY</strong> - Nine Hundred and fifty Ghana Cedis <strong>[GH¢950.00]</strong>
        <br>
        <br>
        <span style="font-size: 12px; font-weight: bolder">Kindly note that this exludes your examination registration fees</span>
      </p>
    </div>
    </li>
     <li>
      <div class="collapsible-header" style="font-weight: bolder; color: #42a2d9;">Accomodation and Hostel Facilities</div>
      <div class="collapsible-body"><p>Hostels are located behind Ho Polytechnic.</p></div>
    </li>
  </ul>
      </div>
    </div>
  </div>

<footer class="page-footer" style="background-color: #4da2d9;">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">Find us on Social Media</h5>
                <ul class="collection">
    <li class="collection-item avatar">
      <a href="https://www.facebook.com/puritytechnologyinstitute/"><img src="fblogo.png" alt="" class="circle"></a>
      <p class="activity">
      <a href="https://www.facebook.com/puritytechnologyinstitute/" style="color: black;"> <span class="titl">Facebook</span></a>         
       </p>
    </li>
     <li class="collection-item avatar">
       <a href="https://twitter.com/PurityTI"><img src="tlogo.png" alt="" class="circle"></a>
      <p class="activity">
      <a href="https://twitter.com/PurityTI" style="color: black;"> <span class="titl">Twitter</span></a>         
       </p>    
     </li>
     <li class="collection-item avatar">
       <a href="https://www.instagram.com/purity_technology_institute/"><img src="ilogo.png" alt="" class="circle"></a>
      <p class="activity">
      <a href="https://www.instagram.com/purity_technology_institute/" style="color: black;"> <span class="titl">Instagram</span></a>         
       </p>
    </li>
  </ul>
              </div>
               <div class="col l4 s12">
                <h5 class="white-text">Contact details</h5>
                <p class="grey-text text-lighten-4">Purity Technology Institute,</p>
                <p class="grey-text text-lighten-4">P.O.Box HP 524, Ho,</p>
                <p class="grey-text text-lighten-4">Ho, Volta Region.</p>
                <p class="grey-text text-lighten-4">0244852432 / 0240417967</p>
              </div>
              <div class="col l4 s12">
                <h5 class="white-text">Cotact us</h5>
                  <%= form_for(@datum) do |f| %>
                <p class="center-align"><input type="text" class="validate"  name="datum[name]" id="datum_name" placeholder="Your name"></p>
                <p class="center-align"><input type="email" class="validate" name="datum[email]" id="datum_email" placeholder="Your email"></p>
                <p class="center-align"><input type="text" class="validate"  name="datum[phone]" id="datum_phone" placeholder="Phone number"></p>
                 <p class="center-align"><textarea class="ymesag" name="datum[message]" id="datum_message" placeholder="Your message here"></textarea></p>
                 <p class="center-align"><input type="submit" name="commit" value="Send" class="btn sbcolor" style="background-color: #fff; color: #000;" /></p>
               <% end %>>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy; 2016 Purity Technology Institute. All Rights Reserved.
            <a class="grey-text text-lighten-4 right" href="#!">FAQ</a>
            </div>
          </div>
        </footer>
 <script type="text/javascript" src="jquery.js"></script>
  <script src="js/jquery.slides.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
      </script>
      <script type="text/javascript">
       $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
      </script>
  </body>
  </html>