<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/slick.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <style type="text/css">
nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 66px;
  line-height: 56px;

}

nav .centim {
  margin-left: 25%;

}

.activelink{
  border-bottom: 5px solid #4da2d9;
  color: black;
}

.navhov{
   background: #4da2d9;
   color: white;
}

   .navhov:hover{
 background: #42ade7;
 color: #4da2d9;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

   .logomenu{
    height: 100%;
    margin-left: 20px;
   }

.gateman{
  margin-right: 20px;
}

    .landing{
  background-color: white;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(33, 150, 243,.99) 20px, rgba(33, 150, 243,.99) 40px);     
    }

    .landingmainmsg{
      font-weight: 700;
      color: #000;
      text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
    }

    .landingform{
      background-color: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    textarea.apply-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.elaboratelanding{
  font-weight: bolder;
  color: #29282e;
  font-size: 23.5px;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
}

.landingenforcer{
  font-size: 14px;
  font-weight: bolder;
}
    </style>

    <body class="landing">

  <nav>
 
    <div class="nav-wrapper" style="background-color: white;">
<a href="/" class="brand-logo logomenu hide-on-med-and-down"><img src="logo.png" class="logomenu" ></a>
<a href="/" class="brand-logo logomenu hide-on-large-only"><img src="logomobile.png" class="logomenu" ></a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i style="color: #ddd;" class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down gateman">
        <li><a style="color: #fff;" class="navhov btn applyme">Apply now</a></li>
      </ul>
    </div>
  </nav>
<br>
   <div class="row">
    <h4 class="center-align landingmainmsg">Are You interested in being the technical guy?</h4>
    <p class="center-align"><a href="#" style="color: #29282e; font-weight: bolder;" class="applyme"> Tell us a little about you.</a></p>
  </div>
    <div class="row">
      <div class="container">
        <div class="col l6 m6 s12">
          <div class="card">
            <div class="card-image">
              <img src="landing1.jpg">
              <span class="card-title">Construction Technician</span>
            </div>
            <div class="card-content">
              <p>I will start my construction career here. Join me Now!</p>
            </div>
            <div class="card-action">
              <a href="#" class="applyme">Apply Now</a>
            </div>
          </div>
        </div>
        <div class="col l6 m6 s12">
           <div class="card">
            <div class="card-image">
              <img src="landing2.jpg">
              <span class="card-title">Diploma in Business Studies</span>
            </div>
            <div class="card-content">
              <p>I will start my Business career here. Join me Now!</p>
            </div>
            <div class="card-action">
              <a href="#" class="applyme">Apply Now!</a>
            </div>
          </div>
        </div>
        <div class="col l6 m6 s12">
           <div class="card">
            <div class="card-image">
              <img src="landing3.jpg">
              <span class="card-title">Electrical Technician</span>
            </div>
            <div class="card-content">
              <p>I will start my Electrical Technician career here. Join me Now!</p>
            </div>
            <div class="card-action">
              <a href="#" class="applyme">Apply Now!</a>
            </div>
          </div>
        </div>
        <div class="col l6 m6 s12">
           <div class="card">
            <div class="card-image">
              <img src="landing4.jpg">
              <span class="card-title">Motor Vehicle Technician</span>
            </div>
            <div class="card-content">
              <p>I will start my Motor Vehicle Technician career here. Join me Now!</p>
            </div>
            <div class="card-action">
              <a href="#" class="applyme">Apply Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row second">
      <div class="container">
        <h5 class="center-align elaboratelanding">Purity Institue of Technology for the past 16 years has been training great technicians. Try us!</h5>
        <p class="center-align landingenforcer">(Get a free admission form when you sign up)</p>
        <br>
        <div class="container landingform">
           <%= render 'data/form', datum: @datum %>
        </div>
      </div>
    </div>
<br>
<footer class="page-footer" style="background-color: #4da2d9;">
   
          <div class="footer-copyright">
            <div class="container">
            &copy; 2016 Purity Technology Institute. All Rights Reserved.
            <a class="grey-text text-lighten-4 right" href="#!">FAQ</a>
            </div>
          </div>
        </footer>

    <script type="text/javascript" src="jquery.js"></script>
  <script src="js/jquery.slides.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
      </script>
      <script type="text/javascript">
        $(".applyme").click(function() {
        $('html,body').animate({
        scrollTop: $(".second").offset().top},
        'slow');
});
      </script>
  </body>
  </html>