<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/slick.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <style type="text/css">
     .mematic{
      color: #1aa8ea;
      font-weight: bolder;
     }
    </style>

    <body style="background-color: #fefefe;">
    <div class="container">
    <br>
    <br>
    <h1 class="center-align mematic">Thank You!</h1>
    <p class="center-align thankp">Thanks for getting to us. We will get back to you soon. We wish you the best!</p>

    <p class="center-align"><a href="/">Return to our home page</a> | <a href="/aboutus">Know more about us</a> | <a href="/academics"> Courses offered</a>
    </div>

    <script type="text/javascript" src="jquery.js"></script>
  <script src="js/jquery.slides.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
      </script>
    
  </body>
  </html>